* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #EEEEEE;
}
/* Preloader */
.hidden{
  overflow: hidden;
  position: relative;
}
.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Img__Loading{

  width: 20%;
  height: 40%;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 50px;
  top: 0;
  left: 0;
  background-color: #222831;
}

.Header__Button {
  background: #ff8800;
    border: none;
    color: white;
    padding: 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.Header__Button:hover {
  background-color: rgb(255, 85, 0);
}

.Header__Title {
  color: #65c916;
}

.Container__Fetch {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #31363F;
  color: #EEEEEE;
}

.Container_Boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.Container__Info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.Container__Info__Title{
  width: 100%;
  display: grid;
  place-items: center;
  gap: 10px;
}

.Container__Info__Title{
    text-align: center;
    font-size: 1.6em;
    color: #65c916;
  }

  .Container__Table{
    width: 45%;
    padding: 1.5em;
    background-color: #ffffff;
    border-radius: 25px;
  }

  .Container__Table__Title{
    font-size: 1.5em;
    text-align: center;
    color: rgb(0, 94, 255);
    font-size: 2em;
  }


  .Carrucel{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.Box_Carrucel{
    /* height: 100%; */
    width: 200%;
    display:flex;
    transition: all .5s ease;
    transform:translateX(0%);
}

.Boxes_Carrucel{
    width: 100%;
    height: 100%;

}
.Boxes__Title{
    text-align: center;
    color:#222831;
    font-size: 1.4rem;
}


.Form__Group-input {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;
}

.Form__Group-input input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #222831;
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
}

.Form__Select{
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #222831;
  background-color: transparent;
  border-radius: 3px;
  width: 100%;
}

.Form__Group-input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #222831;
}

.Form__Group-input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ffffff;
  color: #65c916;
  font-weight: bolder;

}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}



.Form__label{
    display: block;
    font-size: 1.3em;
    margin-top: 10px;
}

.Form__Input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.Form__Input:focus{
    border: 1px solid #0022ff;
  outline: none;
  box-shadow: 5px rgba(163, 163, 163);
}

.Button__Box_One{
  width: 190px;
  background: #65c916;
  border: none;
  color: white;
  padding: 13px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
}

.Button__Box_One:hover{
  background-color: #489210;
}


.Button_Move{
    width: 190px;
    background: #ff8800;
    border: none;
    color: white;
    padding: 13px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

.Button_Move:hover{
  background-color: #d87300;
}

.Container__Button{
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
  place-items: center;
  gap: 10px;
}

@media (max-width:1080px){
  .Button_Move{
    width: 100%;
  }
  .Button__Box_One{
    width: 100%;
  }
  .Container__Info{
    width: 100%;
  }
  .Container_Boxes{
    flex-direction: column;
    gap: 20px;
  }
  .Container__Table{
    max-width: 100%;
    width: 100%;
  }

  .Container__Info{
    width: 100%;
    max-width: 100%;

  }
  
}

.Box_Two{
    padding: 0px 0px 0px 15px;
    position: relative;
    height: 100%;
  }


  /* alert---> */
  .Alert_Send{
    position: fixed;
    display: flex;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 5%;
    margin: 0;
    background-color: red;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  .Alert_Send_Title{
    text-align: center;
    width: 100%;
  
  }
  .Img_cerrar{
    cursor: pointer;
  
  }
  /* ---> */

  /* //Mensaje */

  .Messaje_Send{
    width: 100%;
    padding: 10px;
    display: none;
  }
  
  .Messaje_Send2{
    width: 100%;
    padding: 10px;
    display: none;
  }
  
  .Messaje_Send_Title{
    text-align: center;
  }

  .Fotter{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: #222831;
    padding: 15px;
    flex-wrap: wrap;
    justify-content:space-around;
  }

  @media(max-width:1080px){
    .Fotter{
      flex-direction: column;
      gap: 20px;
    }
  }

  .Button__Footer{
    background: #ff8800;
    border: none;
    color: white;
    padding: 13px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

.Button__Footer:hover{
  background-color: rgb(255, 85, 0);
}
/* Variebles de error */

.Form__Input-Error{
    display: none;
    color: red;
  }

  .Formulario__Grupo-Incorrecto .Form__Input {
    border: 1.5px solid rgb(240, 112, 0);
  }
  .Alert_Send-Active {
    display: flex;
  }
  
  .Active{
    display: block;
  }
  
  /* //iframe */
  .tablas{
    width: 100%;
  }


  /* Tabla */

  .datosDb{
    height: 80%;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
  
  }



  #Table__Users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-spacing: 0;
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  
  #Table__Users td,
  #Table__Users th {
    padding: 8px;
    text-align: center;
    height: 50px;
  }
  
  #Table__Users tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #Table__Users tr:hover {
    background: #e8f2fd;
    transition: all 0.1s ease-in-out;
  }
  
  #Table__Users th:first-child {
    border-radius: 6px 0 0 0;
  }
  
  #Table__Users th:last-child {
    border-radius: 0 6px 0 0;
  }
  
  #Table__Users th:only-child {
    border-radius: 6px 6px 0 0;
  }
  
  #Table__Users th {
    background-color: #0048ad;
    color: white;
  }
