/* Preloader */
.hidden{
    overflow: hidden;
  }
  .centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Img__Loading{
    width: 20%;
    height: 40%;
    z-index: 999;
  }